<!doctype html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Fold Log</title>
        {% else %}
        <title>Keep Folding!</title>
        {% endif %}
    </head>
    <body>
        <div>Fold Log: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }} ">Login</a>
            <a href="{{ url_for('add_designer') }} ">Add Designer</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>